<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OAUTH LOGIN</title>
    </head>
    <body>
        <form action="/login" method="post">
            <!-- put the code challenge in the form so we can subit to the login route -->
            <input
                type="hidden"
                name="code_challenge"
                value="{{code_challange}}"
            />
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button type="submit">Login</button>
        </form>
    </body>
</html>
